# Evitar listagem de diretórios
Options -Indexes

# Bloquear acesso .htaccess - production
#<Files ".htaccess">
#    Order allow,deny
#    Deny from all
#</Files

# Bloquear acesso direto aos logs - production
#<Files "*.log">
#    Order allow,deny
#    Deny from all
#</Files